<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tutorials Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/tutorials/main_style.css' %}" >
    <link rel="stylesheet" href="{% static '/tutorials/menu_style.css' %}" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="styled_body">
    <div class="topnav" id="myTopnav">
        <a href="{% url 'home' %}" ><i class="fa fa-fw fa-home"></i>Home</a>
        <a href="{% url 'tutorials_home' %}" class="active">Tutorials Home</a>
        <div class="dropdown">
            <button class="dropbtn">SSL Certificates
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'what_ssl_certificate' %}">What is an SSL Certificate?</a>
                <a href="#">Process 1 (Create a new SSL Cert)</a>
                <a href="{% url 'renew_existing_certificate' %}">Process 2 (Standard Renewal)</a>
                <a href="#">Link 3</a>
            </div>
        </div>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>


    <h2>This is Tutorials Home page</h2>
    <p>
        1. How to deploy the app.
    </p>
</div>






<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

</body>
</html>