.main_tabel {
  width: 100%;
  margin-top: 20px;
  margin-left: 1%;
  table-layout: auto;
  border: 1px solid black;
}

.main_table th{
    text-align: middle;
    font-size: 10px;
    background-color: black;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 5px;
    border: 1px solid black;
    color: white;
}

.main_table td {
    font-size: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-right: 5px;
    text-align: left;
    border: 1px solid #CACECF;
    margin-left: 10px;

}

tr:nth-child(even){background-color: #CACECF; border: none}
tr:nth-child(odd){background-color: white}

.main_table tr:hover {
  background-color: gray;
  color: white;
}

.main_table tr[data-href] {
        cursor: pointer;
    }

