tr:nth-child(even){background-color: #CACECF; border: none}
tr:nth-child(odd){background-color: white}

.table tr:hover {
  background-color: #D2D9D2;
  color: black;
}

.table tr[data-href] {
        cursor: pointer;
    }