.styled_body {
  vertical-align: top;
  padding: 0px;
  margin-left: 10%;
  margin-right: 10%;

}

p{
    line-height: 2.0;
}

.comment {
        width: 100%;
        font-size: 0.9rem;
        padding: 5px;
        background-color: #D8D9EA;

      }

.black{
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 2px;
}

.red{
    background-color: red;
    color: white;
    border: 1px solid black;
    padding: 2px;
}
.green{
    background-color: green;
    color: white;
    border: 1px solid black;
    padding: 2px;
}