<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'w3.css' %}" >
    <link rel="stylesheet" href="{% static 'w3-theme-blue-grey.css' %}" >
    <link rel="stylesheet" href="{% static 'family-open-sans.css' %}" >
    <link rel="stylesheet" href="{% static 'font-awsome-min.css' %}" >
</head>

<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
<body class="w3-theme-l5">

<!--------------------------------------------------------- Navbar ---------------------------------------------------->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">

     <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
     <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4">
     <img class="card-img" src="/static/img/uni_logo_1.jpg" style="width:50px">
     </a>
     <h3>Digital Library Tracking App</h3>
 </div>
</div>
<br>

<!--------------------------------------------------------- End Navbar ------------------------------------------------>


<!------------------------------------------------------- Page Container ---------------------------------------------->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
  <div class="w3-row">
      <!------------------------------------------------------------------------------------------------ Left Column -->
      <div class="w3-col m3">
          <div style="background-color: lightblue" class="w3-card w3-round">
              <div class="w3-container">
                  <hr style="border: 1px solid black; border-radius: 5px;">
                  <h4 class="w3-center">STATUS</h4>
                  <p>
                      <i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i> <strong>SERVER STATUS:</strong> {{ vm.vm_status }} <br>
                      <i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i> <strong>TYPE:</strong> {{ vm.vm_type }} <br>
                      <i class="fa fa-calendar fa-fw w3-margin-right w3-text-theme"></i> PING: <--EMPTY-->
                  </p>
                  <hr style="border: 1px solid black; border-radius: 5px;">
                  <h4 class="w3-center">DETAILS</h4>
                  <p style="font-size:13px">
                      <strong>IP ADDRESS:</strong> {{ vm.ip_address }} <br>
                      <strong>APPLICATION: </strong>{{ vm.application }} <br>
                      <strong>SSH in LP:</strong> {{ vm.ssh_in_lp }} <br>
                      <strong>PUPPET CONTROLLED:</strong> {{ vm.puppet_controlled }} <br>
                      <strong>DATA CENTRE:</strong> {{ vm.data_centre }} <br>
                      <strong>HTTPD LAST PATCH:</strong> {{ vm.httpd_last_patch }} <br>
                      <strong>OS CENTOS ASSUMED:</strong> {{ vm.os_centos_assumed }} <br>
                      <strong>HTTPD:</strong> {{ vm.httpd }} <br>
                      <strong>TOMCAT:</strong> {{ vm.tomcat }} <br>
                      <strong>NGINX:</strong> {{ vm.nginx }} <br>
                      <strong>RAM:</strong> {{ vm.ram }} <br>
                      <strong>CPU:</strong> {{ vm.cpu }} <br>
                      <strong>DB:</strong> {{ vm.db }} <br>
                      <strong>PHP:</strong> {{ vm.php }} <br>
                      <strong>JAVA:</strong> {{ vm.java }} <br>
                      <strong>VM STORAGE:</strong> {{ vm.vm_storage }} <br>
                      <strong>SPECIAL MOUNTS:</strong> {{ vm.special_mounts }} <br>
                      <strong>PYTHON:</strong> {{ vm.python }} <br>
                      <strong>NPM:</strong> {{ vm.npm }} <br>
                      <strong>SHIBBOLETH:</strong> {{ vm.shibboleth }} <br>
                      <strong>SSL:</strong> {{ vm.ssl }} <br>
                      <strong>SSL:</strong> {{ vm.testrsa }} <br>
                  </p>
                  <hr style="border: 1px solid black; border-radius: 5px;">
              </div>
          </div>
          <br>
      </div>
      <!---------------------------------------------------------------------------------------------END Left Column -->

      <!---------------------------------------------------------------------------------------------- Middle Column -->
      <div class="w3-col m9">
          <div class="w3-row-padding">
            <div class="w3-col m12">                                               <!-- Horizontal size of a card m12-->
                <div style="background-color: lightblue" class="w3-card w3-round">
                    <div class="w3-container w3-padding">
                        <table>
                            <tr>
                                <td style="width: 100%">
                                    <img src="/static/img/vms/server_icon_2.png" alt="Avatar" class="w3-left  w3-margin-center" style="width:60px">
                                    <h3 style="margin-left: 5px; vertical-align:middle"><strong>{{ vm.hostname }}</strong></h3>
                                </td>
                                <td style="vertical-align:middle; text-align: right">
                                    <button type="button"  style="background-color: #838180; border-radius: 10px; color: white; ; width: 100%" class="w3-button">
                                        <a style="text-decoration: none" href="{% url 'vms_home' %}">Back</a>
                                    </button>

                                    <button type="button"  style="background-color: #4CAF50; border-radius: 10px; color: white; ; width: 100%" class="w3-button">
                                        <a style="text-decoration: none" href="{% url 'update_vm' vm.id %}">Update</a>
                                    </button>
                                    <button type="button"  style="background-color: #FC8E76; border-radius: 10px; color: black; width: 100%" class="w3-button">
                                        <a style="text-decoration: none" href="{% url 'delete_vm' vm.id %}">Delete</a>
                                    </button>
                                </td>
                            </tr>
                        </table>


                    </div>
                </div>
            </div>
        </div>

        <div style="background-color: lightblue" class="w3-container w3-card w3-round w3-margin">
            <h4>
                NOTES: <br>
                {{ vm.notes }}
            </h4>
        </div>

      </div>
      <!------------------------------------------------------------------------------------------ END Middle Column -->
  </div>
</div>
</body>
</html>