<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Example</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/statements_css/statements_main.css' %}" >


</head>
<body>
<div class="main_body" >
    <div class="navbar">
        <a  href="{% url 'access_statement_home' %}">Back</a>
        <a  class="active" href="#">View Mode</a>
        <a href="{% url 'update_access_statement' access_statement.id%}">Edit Mode</a>

    </div>

    <table>
        <tr>
            <td colspan="6" style="text-align: center; padding:20px; border: none">

                <span style="color: gray; font-size:15px">Site:  </span> <span style="font-size: 27px">  {{ access_statement.site }}</span><br>
                <br>
                <span style="color: gray; font-size:12px">URL:</span> <a href=" {{ access_statement.url }}" target="_blank">{{ access_statement.url }}</a>

            </td>
        </tr>
        <tr>
            <td></td>
            <td><span style="color: gray; font-size:12px">Testing Status:</span> {{ access_statement.testing_status_r }}</td>
            <td><span style="color: gray; font-size:12px">Statement Status:</span> {{ access_statement.access_statement_status_r }}</td>

        </tr>
    </table>
    <br>

    <table>
        <tr>
            <td style="vertical-align: top; width: 30%; border-left: none; border-right: 1px solid white; border-top: 1px solid white; border-bottom: 1px solid white;">
                <br>
                <hr>
                <table>
                    <tr>
                        <td style="width: 30%; border: none; text-align: right; background-color: white">
                            <span style="color: #9F9F9F; font-size:12px">Word 21:</span>
                        </td>
                        <td style="border-left: 5px solid #041E42; border-top: none; border-right: none; border-bottom:none">
                            {{ access_statement.word21 }}
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 30%; border: none; text-align: right;background-color: white">
                            <span style="color: gray; font-size:12px">Jira No.:</span>
                        </td>
                        <td style="border-left: 5px solid #041E42; border-top: none; border-right: none; border-bottom:none">
                            {{ access_statement.jira_nr }}
                        </td>
                    </tr>
                </table>
                <hr>
                <table>
                    <tr>
                        <td style="width: 30%; border: none; text-align: right;background-color: white">
                            <span style="color: gray; font-size:12px">Owning Team:</span>
                        </td>
                        <td style="border-left: 5px solid #041E42; border-top: none; border-right: none; border-bottom:none">
                            {{ access_statement.owning_team }}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%; border: none; text-align: right;background-color: white">
                            <span style="color: gray; font-size:12px">Access/Content Manager:</span>
                        </td>
                        <td style="border-left: 5px solid #041E42; border-top: none; border-right: none; border-bottom:none">
                            {{ access_statement.content_service_manager }}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%; border: none; text-align: right;background-color: white">
                            <span style="color: gray; font-size:12px">Tech Contact:</span>
                        </td>
                        <td style="border-left: 5px solid #041E42; border-top: none; border-right: none; border-bottom:none">
                            {{ access_statement.tech_contact }}
                        </td>
                    </tr>
                </table>
                <hr>
                <table>
                    <tr>
                        <td style="width: 30%; border: none; text-align: right;background-color: white">
                            <span style="color: gray; font-size:12px">Physical Location Server:</span>
                        </td>
                        <td style="border-left: 5px solid #041E42; border-top: none; border-right: none; border-bottom:none">
                            {{ access_statement.physical_location_server }}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%; border: none; text-align: right;background-color: white">
                            <span style="color: gray; font-size:12px">Physical Location directory file:</span>
                        </td>
                        <td style="border-left: 5px solid #041E42; border-top: none; border-right: none; border-bottom:none">
                            {{ access_statement.physical_location_directory_file }}
                        </td>
                    </tr>
                </table>
                <hr>
                <br>
            </td>

            <td style="vertical-align: top; width: 40%; border-left: 5px solid #041E42; border-right: 1px solid white; border-top: none; border-bottom: none ">
                <table>
                    <tr>
                        <td style="width: 30%; border: none; text-align: right;background-color: white">
                            <span style="color: gray; font-size:12px">Statement tasked to:</span>
                        </td>
                        <td style="border-left: 5px solid #041E42; border-top: none; border-right: none; border-bottom:none;">
                            {{ access_statement.wa_statement_tasked_to_last }}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%; border: none; text-align: right;background-color: white">
                            <span style="color: gray; font-size:12px">Last Testing Date:</span>
                        </td>
                        <td style="border-left: 5px solid #041E42; border-top: none; border-right: none; border-bottom:none;">
                            {{ access_statement.testing_date }}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%; border: none; text-align: right;background-color: white">
                            <span style="color: gray; font-size:12px">Statement Status Date:</span>
                        </td>
                        <td style="border-left: 5px solid #041E42; border-top: none; border-right: none; border-bottom:none;">
                            {{ access_statement.statement_status_date }}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%; border: none; text-align: right;background-color: white">
                            <span style="color: gray; font-size:12px">Issues Target Date:</span>
                        </td>
                        <td style="border-left: 5px solid #041E42; border-top: none; border-right: none; border-bottom:none;">
                            {{ access_statement.issues_target_date }}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%; border: none; text-align: right;background-color: white">
                            <span style="color: gray; font-size:12px">Re-Test Date:</span>
                        </td>
                        <td style="border-left: 5px solid #041E42; border-top: none; border-right: none; border-bottom:none;">
                            {{ access_statement.re_test_date }}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%; border: none; text-align: right;background-color: white">
                            <span style="color: gray; font-size:12px">Expiry Date:</span>
                        </td>
                        <td style="border-left: 5px solid #041E42; border-top: none; border-right: none; border-bottom:none;">
                            {{ access_statement.expiry_date }}
                        </td>
                    </tr>
                </table>
            </td>

            <td style="vertical-align: top; width: 40%; border-left: 5px solid #041E42; border-right: 1px solid white; border-top: none; border-bottom: none">
                <table>
                    <tr>
                        <td style="vertical-align: top; width: 40%; border-left: none; border-right: 1px solid white; border-top: none; border-bottom: none">
                            <span style="color: gray; font-size:12px">How to deploy:</span><br>
                            <br>
                            <div style="width: 100%; min-height: 25em; padding: 12px 20px; box-sizing: border-box; border: 2px solid #ccc; border-radius: 4px; background-color: #f8f8f8; font-size: 13px; resize: none">
                                {{ access_statement.how_deploy | linebreaks }}
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td style="vertical-align: top; width: 40%; border-left: none; border-right: 1px solid white; border-top: none; border-bottom: none">
                <span style="color: gray; font-size:12px">Notes:</span><br>
                <br>
                <div style="width: 100%; min-height: 23em; padding: 12px 20px; box-sizing: border-box; border: 2px solid #ccc; border-radius: 4px; background-color: #f8f8f8; font-size: 13px; resize: none">
                    {{ access_statement.notes | linebreaks }}
                </div>
            </td>
        </tr>
    </table>
    <br>

</div>


</body>
</html>