<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tracking Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'w3.css' %}" >
    <link rel="stylesheet" href="{% static 'w3-theme-blue-grey.css' %}" >
    <link rel="stylesheet" href="{% static 'family-open-sans.css' %}" >
    <link rel="stylesheet" href="{% static 'font-awsome-min.css' %}" >
    <style>html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
</head>
<body class="w3-theme-l5">
<!----------------------------------------------------------------------------------------------------------- Navbar
background-color:#59727F in w3-theme-blue-grey.css in w3-theme-d2
-->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a href="https://www.ed.ac.uk/" class="w3-bar-item w3-button w3-padding-large w3-theme-d4">
            <img alt="UoE Home Page" class="card-img" src="/static/img/uni_logo_1.jpg" style="width:50px">
        </a>
        <h1>Digital Library Tracking App</h1>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------- End Navbar -->

<!------------------------------------------------------------------------------------------------------ Left Column -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <div class="w3-row">
    <!-- Left Column -->
        <div class="w3-col m3">
      <!------------------------------------------------- Profile -->
          <div class="w3-card w3-round w3-white">
            <div class="w3-container">
              <h2 class="w3-center">Welcome {{ user }}</h2>
              <hr>
              <p><i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i> User group: {{user.groups}}</p>
              <p><i class="fa fa-calendar fa-fw w3-margin-right w3-text-theme"></i> {{current_datetime_now_tostring}}</p>
                <p>THIS IS TEST</p>
            </div>
          </div>
          <br>
          <!------------------------------------------------- Main Menu Start:
          background-color:#59727F in w3-theme-blue-grey.css in w3-theme-l1
          -->
          <h2>Main Menu:</h2>
          <div class="w3-card w3-round">
              <div class="w3-white" style="background-color: red">
                  <button style="font-size: 18px" onclick="myFunction('Demo4')" class="fa fa-deaf w3-button w3-block w3-theme-l1 w3-left-align ">&#10148; WebSites-SSL Certs</button>
                  <div id="Demo4" class="w3-hide w3-container" >
                      <p style="font-size: 12px">
                          This section contains a table of all services where SSL Certificates must be monitored and updated on the regular bases.
                      </p>
                      <p style="text-align: center; font-size: 11px">
                          <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom">
                              <a style="text-decoration: none" href="{% url 'websites_home' %}">Open</a>
                          </button>
                      </p>
                  </div>

                  <button style="font-size: 18px" onclick="myFunction('Demo5')" class="fa fa-deaf w3-button w3-block w3-theme-l1 w3-left-align">&#10148; SubSites</button>
                  <div id="Demo5" class="w3-hide w3-container">
                      <p style="font-size: 12px">
                          All Subsides are located here.
                      </p>
                      <p style="text-align: center; font-size:11px">
                          <button type="button"  class="w3-button w3-theme-d1 w3-margin-bottom">
                              <a style="text-decoration: none" href="{% url 'lddt_subsites_home' %}">Open</a>
                          </button>
                      </p>
                  </div>

                  <button style="font-size: 18px" onclick="myFunction('Demo6')" class="fa fa-deaf w3-button w3-block w3-theme-l1 w3-left-align">&#10148; VM's</button>
                  <div id="Demo6" class="w3-hide w3-container">
                      <p style="font-size: 12px">
                          System section containing a list of all Virtual Machines that are in use.
                      </p>
                      <p style="text-align: center; font-size:11px">
                          <button type="button"  class="w3-button w3-theme-d1 w3-margin-bottom">
                              <a style="text-decoration: none" href="{% url 'vms_home' %}">Open</a>
                          </button>
                      </p>
                  </div>

                  <button style="font-size: 18px" onclick="myFunction('Demo1')" class="fa fa-deaf w3-button w3-block w3-theme-l1 w3-left-align">&#10148; Accessibility Testing</button>
                  <div id="Demo1" class="w3-hide w3-container">
                      <p style="font-size: 12px">
                          A section that allows you to monitor the Accessibility Testing process.
                      </p>
                      <p style="text-align: center; font-size: 11px">
                          <button type="button"  class="w3-button w3-theme-d1 w3-margin-bottom">
                              <a style="text-decoration: none" href="{% url 'access_statement_home' %}">Open</a>
                          </button>
                      </p>
                  </div>

                  <button style="font-size: 18px" onclick="myFunction('Demo7')" class="fa fa-deaf w3-button w3-block w3-theme-l1 w3-left-align">&#10148; Google Analytics</button>
                  <div id="Demo7" class="w3-hide w3-container">
                      <p style="font-size: 12px">
                          A section that allows you to monitor Google Analytics.
                      </p>
                      <p style="text-align: center; font-size: 11px">
                          <button type="button"  class="w3-button w3-theme-d1 w3-margin-bottom">
                              <a style="text-decoration: none" href="{% url 'ga4_report' %}">Open</a>
                          </button>
                      </p>
                  </div>

                  <button style="font-size: 18px" onclick="myFunction('Demo2')" class="fa fa-book w3-button w3-block w3-theme-l1 w3-left-align">&#10148; Tutorials</button>
                  <div id="Demo2" class="w3-hide w3-container">
                      <p style="font-size: 12px">
                          In development.
                      </p>
                      <p style="text-align: center; font-size: 11px"><button type="button"  class="w3-button w3-theme-d1 w3-margin-bottom">
                          <a style="text-decoration: none" href="{% url 'tutorials_home' %}">Open</a>
                      </button>
                      </p>
                  </div>

                  <button style="font-size: 18px" onclick="myFunction('Demo3')" class="fa fa-book w3-button w3-block w3-theme-l1 w3-left-align">&#10148; Tech Documentation</button>
                  <div id="Demo3" class="w3-hide w3-container">
                      <p style="font-size: 12px">
                          In development.
                      </p>
                      <p style="text-align: center; font-size: 11px">
                          <button type="button"  class="w3-button w3-theme-d1 w3-margin-bottom">
                              <a style="text-decoration: none" href="{% url 'tech_docs_home' %}">Open</a>
                          </button>
                      </p>
                  </div>
              </div>
          </div>
          <br>
      </div>
<!-------------------------------------------------------------------------------------------------- End Left Column -->

<!---------------------------------------------------------------------------------------------- Start Middle Column -->
        <div class="w3-col m7">
            <div class="w3-row-padding">
                <div class="w3-col m12">
                <!--
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container w3-padding">
                        <h6 class="w3-opacity">Social Media template by w3.css</h6>
                        <p contenteditable="true" class="w3-border w3-padding">Status: Feeling Blue</p>
                        <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button>
                    </div>
                </div>
                -->
            </div>
        </div>

        <!----------------------------------        WEBSITES SSL CERTIFICATES      ---------------------------------->
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <img src="/static/img/websites_image.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <h3><strong>WEBSITES - SSL Certificates</strong></h3><br>
            <p>
                SSL (Secure Sockets Layer) certificates are what enables encrypted communication between a browser and a web server.
                When a website has an SSL certificate, there is a lock displayed in the address bar. They’re also what changes the HTTP
                in your URL to HTTPS. By displaying a lock and HTTPS in your URL, you are informing your viewers that your website is secure.
            </p>

            <canvas id="websitesChart"></canvas>

            <p style="font-size: 12px; background-color:#C8C8C8; text-align: center; align; padding: 5px">
                The next SSL Cert expiring in:
                {% for website in websites %}
                {% if forloop.first %}
                {{ website.ssl_expiry_date|timeuntil }}
                {% endif %}
                {% endfor %}<br>
            </p>

            <br>
            <button type="button"  class="w3-button w3-theme-d1 w3-margin-bottom">
                <a style="text-decoration: none" href="{% url 'websites_home' %}">Open</a>
            </button>
        </div>

        <!-----------------------------------------------        SUBSITES     ----------------------------------------->
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <img src="/static/img/subsites_image_3.jpeg" alt="Subsite pics" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <h3><strong>SUBSITES</strong></h3><br>
            <hr class="w3-clear">
            <p>
                SUBSITES
            </p>

            <canvas id="subsitesChart"></canvas>


            <br>
            <button type="button"  class="w3-button w3-theme-d1 w3-margin-bottom">
                <a style="text-decoration: none" href="{% url 'lddt_subsites_home' %}">Open</a>
            </button>
        </div>

        <!-----------------------------------------------        VM's     --------------------------------------------->
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <img src="/static/img/subsites_image_3.jpeg" alt="VM's pics" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <h4><strong>VM's</strong></h4><br>
            <hr class="w3-clear">
            <p>
                VM's
            </p>
            <br>
            <button type="button"  class="w3-button w3-theme-d1 w3-margin-bottom">
                <a style="text-decoration: none" href="{% url 'vms_home' %}">Open</a>
            </button>
        </div>
    <!-- End Middle Column -->
    </div>

    <!------------------------------------------------------------------------------------------------- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p style="font-size: 13px; text-align: left;"><strong>SSL CERTS:</strong><br>
              Services in Total: {{count_all_sites}}<br>
              🟢 Active Services: {{count_all_active}}<br>
              {% if count_sites_workingon >= 1 %}
              🟡 Working On: {{count_sites_workingon}} <br>
              {% elif count_sites_workingon < 1 %}
              🟡 Working On: {{count_sites_workingon}}<br>
              {% endif %}

              {% if count_sites_cert_sent >= 1 %}
              🟡 Cert Sent: {{count_sites_cert_sent}} <br>
              {% elif count_sites_cert_sent < 1 %}
              🟡 Cert Sent: {{count_sites_cert_sent}}<br>
              {% endif %}

              {% if count_sites_issue >= 1 %}
              🔴 Issues:  {{count_sites_issue}} <br>
              {% elif count_sites_issue < 1 %}
              🔴 Issues: {{count_sites_issue}}<br>
              {% endif %}
          </p>
            <hr>
            <p style="font-size: 13px; text-align: left;"><strong>SUBSITES:</strong><br>
                Services in Total: {{ count_all_subsites }}<br>
                🟢 Active Services: {{ count_all_active_subsites }}<br>
                {% if count_subsites_workingon >= 1 %}
                🟡 Working On: {{count_subsites_workingon}} <br>
                {% elif count_subsites_workingon < 1 %}
                🟡 Working On: {{count_subsites_workingon}}<br>
                {% endif %}
                {% if count_subsites_issue >= 1 %}
                🔴 Issues:  {{count_subsites_issue}} <br>
                {% elif count_subsites_issue < 1 %}
                🔴 Issues: {{count_subsites_issue}}<br>
                {% endif %}
            </p>
            <hr>
            <p style="font-size: 13px; text-align: left;"><strong>VM's:</strong><br>
              Services in Total: {{ table_item_count_vms }}<br>
              🟢 Active Services: {{ table_item_count_vms }}<br>
              🟡 Working On: {{ vms_working_on_status_count }}<br>
              🔴 Issue: {{ 0 }}<br>
            </p>
            <hr>
            <p style="font-size: 13px; text-align: left;"><strong>ACCESS. TESTING:</strong><br>
                Services in Total: {{ table_item_count_vms }}<br>
                🟢 Active Services: {{ table_item_count_vms }}<br>
            </p>
        </div>
      </div>
      <br>


    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5>Footer</h5>
</footer>

<footer class="w3-container w3-theme-d5">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Accordion
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else {
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className =
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>

<script>
let websitesChartCtx = document.getElementById("websitesChart").getContext("2d");
let websitesChart = new Chart(websitesChartCtx, {
  type: "bar",
  data: {
   labels: ["Services", "Active",  "Working On", "Cert Sent", "Issues"],
   datasets: [
    {
      label: "",
      backgroundColor: "#79AEC8",
      borderColor: "#417690",
      data: [{{count_all_sites}}, {{count_all_active}}, {{count_sites_workingon}}, {{count_sites_cert_sent}}, {{count_sites_issue}}]
    }
   ]
  },
  options: {
   title: {
    text: "Gross  in 2020",
    display: true
   }
  }
});
</script>


<script>
let subsitesChartCtx = document.getElementById("subsitesChart").getContext("2d");
let subsitesChart = new Chart(subsitesChartCtx, {
  type: "bar",
  data: {
   labels: ["Services", "Active", "Working On", "Issues"],
   datasets: [
    {
      label: "",
      backgroundColor: "#79AEC8",
      borderColor: "#417690",
      data: [{{ count_all_subsites }}, {{ count_all_active_subsites }}, {{count_subsites_workingon}}, {{count_subsites_issue}}]
    }
   ]
  },
  options: {
   title: {
    text: "Gross Volume in 2020",
    display: true
   }
  }
});
</script>

</body>
</html>





































<!--




{% block head %}
<title>LDDT Tracker</title>
{% load static %}
<link rel="stylesheet" href="{% static 'banner.css' %}" >
<link rel="stylesheet" href="{% static 'thumbnails_style.css' %}" >
<link rel="stylesheet" href="{% static 'main_body_style.css' %}" >
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="main_body">
    <p>
        Welcome to the Digital Library Tracking App. This application has
        been created to collect and automate some processes as well as to facilitate
        their monitoring and implementation of necessary updates.<br>
        The application also has a section with tutorials and guidance for some processes, which will allow
        you to quickly and easily update services.
    </p>
    <br>
<h1>TRACKING</h1>
<hr style="background-color:#041E42; height: 4px">
    <br>
<div class="container">
    <div class="card-group vgr-cards">
        <div class="card col-md-4 mx-1" style="border: 1px solid white">
            <h5 class="card-title">WEBSITES</h5>
            <div class="card-img-body">
                <img class="card-img" src="/static/img/websites_image.png">
            </div>
            <div class="card-body">
                <p style="font-size: 12px">
                    <strong>QUICK OVERVIEW:</strong><br>
                    Services in Total: {{count_all_sites}}<br>
                    🟢 Active Services: {{count_all_active}}<br>

                    {% if count_sites_workingon >= 1 %}
                        🟡 Working On: {{count_sites_workingon}} <br>
                    {% elif count_sites_workingon < 1 %}
                        Working On: {{count_sites_workingon}}<br>
                    {% endif %}

                    {% if count_sites_issue >= 1 %}
                       🔴 Issues:  {{count_sites_issue}} <br>
                    {% elif count_sites_issue < 1 %}
                        Issues: {{count_sites_issue}}<br>
                    {% endif %}
                <p style="font-size: 12px; background-color:#C8C8C8; text-align: center; align; padding: 5px">
                    Next SSL Cert expiring in: <br>
                    {% for website in websites %}
                    {% if forloop.first %}
                    {{ website.ssl_expiry_date|timeuntil }}
                    {% endif %}
                    {% endfor %}<br>
                </p>
                <a href="{% url 'websites_home' %}" class="btn btn-outline-primary">Open</a>
            </div>
        </div>

        <div class="card col-md-4 mx-2" style="border: 1px solid white;">
            <h5 class="card-title">SUBSITES</h5>

            <div class="card-img-body">
                <img class="card-img" src="/static/img/subsites_image_3.jpeg" alt="Card image cap">
            </div>
            <div class="card-body">
                <p style="font-size: 12px">
                    <strong>QUICK OVERVIEW:</strong><br>
                    Services in Total: {{ count_all_subsites }}<br>
                    🟢 Active Services: {{ count_all_active_subsites }}<br>
                    {% if count_subsites_workingon >= 1 %}
                        🟡 Working On: {{count_subsites_workingon}} <br>
                    {% elif count_subsites_workingon < 1 %}
                        Working On: {{count_subsites_workingon}}<br>
                    {% endif %}

                    {% if count_subsites_issue >= 1 %}
                       🔴 Issues:  {{count_subsites_issue}} <br>
                    {% elif count_subsites_issue < 1 %}
                        Issues: {{count_subsites_issue}}<br>
                    {% endif %}
                </p>
                <a href="{% url 'lddt_subsites_home' %}" class="btn btn-outline-primary">Open</a>
            </div>
        </div>

        <div class="card col-md-4 mx-2" style="border: 1px solid white;">
            <h5 class="card-title">VM's</h5>
            <div class="card-img-body">
                <img class="card-img" src="/static/img/vms_image.jpeg" alt="Card image cap">
            </div>
            <div class="card-body">
                <p style="font-size: 12px">
                    <strong>QUICK OVERVIEW:</strong><br>
                    total services: 87<br>
                    working on: 1 <br>
                    issues: 0 <br>
                    next expire cert. in: 87 days
                </p>
                <a href="{% url 'vms_home' %}" class="btn btn-outline-primary">Open</a>
            </div>
        </div>

        <div class="card col-md-4 mx-2" style="border: 1px solid white;">
            <h5 class="card-title">Accessibility Statement</h5>
            <div class="card-img-body">
                <img class="card-img" src="/static/img/access_statement_1.jpg" alt="Card image cap">
            </div>
            <div class="card-body">
                <p style="font-size: 10px">
                    <strong>QUICK OVERVIEW:</strong><br>
                    total services: 87<br>
                    working on: 1 <br>
                    issues: 0 <br>
                    next expire cert. in: 87 days
                </p>
                <a href="{% url 'access_statement_home' %}" class="btn btn-outline-primary">Open</a>
            </div>
        </div>


    </div>
    <br>
    <br>
</div>


<h1>TUTORIALS & OTHER</h1>
<hr style="background-color:#041E42; height: 4px">
<br>
<div class="container">
    <div class="card-group vgr-cards">
    <div class="card col-md-4 mx-2" style="border: 1px solid white;">
        <div class="card-img-body">
            <img class="card-img" src="/static/img/tutorials.png" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Tutorials</h5>
            <p style="font-size: 10px">
                <strong>QUICK OVERVIEW:</strong><br>
            </p>
            <a href="{% url 'tutorials_home' %}" class="btn btn-outline-primary">Open</a>
        </div>
    </div>

        <div class="card col-md-4 mx-2" style="border: 1px solid white;">
            <div class="card-img-body">
                <img class="card-img" src="/static/img/tech_doc/tech_doc_1.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h4 class="card-title">Tech Documentation</h4>
                <p style="font-size: 10px">
                    <strong>QUICK OVERVIEW:</strong><br>
                </p>
                <a href="{% url 'tech_docs_home' %}" class="btn btn-outline-primary">Open</a>
            </div>
        </div>

    </div>



</div>
</div>





{% endblock %}
-->