
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
{% load crispy_forms_tags %}
<body>

<!--
<form method="POST">
    {% csrf_token %}
    {{ website_form }}
    <br>
    <button type="submit">Submit</button>
    <a href="{% url 'websites_home' %}"><button type="button">CANCEL</button></a>
</form>
-->

<form method="POST" style="margin:20%; margin-top: 1%; background-color: #A4A7A8; padding:50px">
    {% csrf_token %}
    <h1>ADD A NEW SITE TO THE TRACKERS APPLICATION:</h1>
    <br>
    <div class="form-row">
        <div class="col-3">
            {{ website_form.ssl_expiry_date | as_crispy_field }}
        </div>
        <div class="col-3">
            {{ website_form.url | as_crispy_field }}
        </div>
        <div class="col-3">
            {{ website_form.common_name | as_crispy_field }}
        </div>
        <div class="col-3">
            {{ website_form.function | as_crispy_field }}
        </div>
        <div class="col-3">
            {{ website_form.server | as_crispy_field }}
        </div>
    </div>
    <br>

    <div class="form-row">
        <div class="col-3">
            {{ website_form.vm_ip_address | as_crispy_field }}
        </div>
        <div class="col-3">
            {{ website_form.type | as_crispy_field }}
        </div>
        <div class="col-3">
            {{ website_form.tech_status | as_crispy_field }}
        </div>
        <div class="col-3">
            {{ website_form.activity | as_crispy_field }}
        </div>

    </div>
    <br>

    <div class="form-row">
        <div class="col-6">
            {{ website_form.vulnerability_checked | as_crispy_field}}
        </div>
        <div class="col-6">
            {{ website_form.personal_data_held | as_crispy_field}}
        </div>
    </div>
    <br>

    <div class="form-row">
        <div class="col-1">
            {{ website_form.port | as_crispy_field}}
        </div>
        <div class="col-2">
            {{ website_form.load_balancer | as_crispy_field}}
        </div>
        <div class="col-2">
            {{ website_form.ours | as_crispy_field}}
        </div>
        <div class="col-2">
            {{ website_form.environment | as_crispy_field}}
        </div>
        <div class="col-2">
            {{ website_form.ssl_type | as_crispy_field}}
        </div>
        <div class="col-3">
            {{ website_form.ease_expiry | as_crispy_field}}
        </div>
    </div>
    <br>

    <div class="form-row">
        <div class="col-3">
            {{ website_form.application | as_crispy_field}}
        </div>
        <div class="col-3">
            {{ website_form.user | as_crispy_field}}
        </div>
        <div class="col-6">
            {{ website_form.major_user | as_crispy_field}}
        </div>
    </div>
    <br>

    <div class="form-row">
        <div class="col-3">
            {{ website_form.cert_manager | as_crispy_field}}
        </div>
        <div class="col-3">
            {{ website_form.ssl_cert_process | as_crispy_field}}
        </div>
    </div>



    <div class="form-row">
        <div class="col-12">
            {{ website_form.restore_action | as_crispy_field}}
        </div>
    </div>
    <br>
    <div class="form-row">
        <div class="col-5">
            {{ website_form.external_support | as_crispy_field}}
        </div>
        <div class="col-4">
            {{ website_form.expected_response | as_crispy_field}}
        </div>
        <div class="col-3">
            {{ website_form.handle_prefix | as_crispy_field}}
        </div>
    </div>
    <br>

    <div class="form-row">
        <div class="col-3">
            {{ website_form.accessibility_statement | as_crispy_field}}
        </div>
    </div>
    <br>
    <div class="form-row">
        <div class="col-12">
            {{ website_form.ssl_certificate_action | as_crispy_field}}
        </div>
    </div>

    <div class="form-row">
        <div class="col-12">
            {{ website_form.notes | as_crispy_field}}
        </div>
    </div>


    <div class="form-row">
        <div class="col-3">
            {{ website_form.ga4_y_n | as_crispy_field}}
        </div>
        <div class="col-3">
            {{ website_form.ga4_path | as_crispy_field}}
        </div>
    </div>



    <button type="submit">Submit</button>
    <a href="{% url 'lddt_subsites_home' %}"><button type="button">CANCEL</button></a>
</form>
</body>
</html>