



<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Websites</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'table_style.css' %}" >
    <link rel="stylesheet" href="{% static 'full_table_style.css' %}" >
    <link rel="stylesheet" href="{% static '/websites/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="{% static '/statements_css/statement_top_menu.css' %}">

    <link rel="stylesheet" href="/websites/device.css"/>
    <script>
         function animate(k){
            k.style.MozTransform = "rotateY(360deg)";
         }
         window.addEventListener("load",function(){
            //alert(document.documentElement.clientHeight);
         });
      </script>
</head>


<body>
<section id="main" class="main" style="height: 100px">
    <header>
        <figure onClick="animate(this)">
            <div id="logo">
                <table>
                    <tr>
                        <td>
                            <h1>Full Table</h1>
                            The table contains: {{ table_item_count_sites }} Sites and Sub-sites and {{ table_item_count_vms }} Vm's. <p id="demo"></p>
                        </td>
                    </tr>
                </table>


            </div>
        </figure>

        <nav>
            <ul style="float:right">
                <li style="color:black; background-color: black ">
                    <a href="{% url 'home' %}" style="color:white;"><i class="fa fa-fw fa-home"></i>Home</a>
                </li>
                <li style="color:black; background-color: black ">
                    <a href="{% url 'websites_home' %}" style="color:white">WEBSITES</a>
                </li>
                <li style="color:black; background-color: black ">
                    <a href="{% url 'lddt_subsites_home' %}" style="color:white">SUBSITES</a>
                </li>
                <li style="color:black; background-color: black ">
                    <a href="{% url 'vms_home' %}" style="color:white">VM's</a>
                </li>
                <div class="clear"></div>
            </ul>
        </nav>
        <div class="clear"></div>
    </header>
</section>
<br>
<br>
<div class="tab">
  <button class="tablinks" onmouseover="openCity(event, 'Services')">TABLE</button>
  <button class="tablinks" onmouseover="openCity(event, 'Paris')">DECOMMISSIONED</button>
  <button class="tablinks" onmouseover="openCity(event, 'Tokyo')">Empty</button>
</div>

<div id="Services" class="tabcontent" style="border: none">
    <table class="table" id="myTable" >
        <tr class="header" style="position:sticky; z-index:1; top:0; background-color: black; color: white">
        <!-- TYPE column ---------------------------------------------------------------------------------------->
        <th scope="col" style="font-size: 18px">Type <br>
            <br>
            <label for="myInput1" style="font-size: 12px">
                Search for Type:
            </label>
            <br>
            <!-- Filter for Common Name -->
            <input
                    style="font-size: 15px; width: 60%"
                    type="text"
                    id="myInput1"
                    onkeyup="filterType()"
                    title="Type in a name">
            <!-- Filter for Common Name column end-->
        </th>
        <!-- COMMON NAME column ---------------------------------------------------------------------------------------->
        <th scope="col" style="font-size: 18px">Common Name <br>
            <br>
            <label for="myInput2" style="font-size: 12px">
                Search for Common name:
            </label>
            <br>
            <!-- Filter for Common Name -->
            <input
                    style="font-size: 15px; width: 60%"
                    type="text"
                    id="myInput2"
                    onkeyup="filterCommonName()"
                    title="Type in a name">
            <!-- Filter for Common Name column end-->
        </th>
        <!-- SERVER column ---------------------------------------------------------------------------------------->
        <th scope="col" style="font-size: 18px">Server <br>
            <br>
            <label for="myInput3" style="font-size: 12px">
                Type Server name::
            </label><br>
            <!-- Filter for Common Name -->
            <input
                    style="font-size: 15px; width: 60%"
                    type="text"
                    id="myInput3"
                    onkeyup="filterServer()"
                    title="Type in a name">
            <!-- Filter for Common Name column end-->
        </th>
        {% for website in websites %}
        <tr data-href = "{% url 'website_details' website.id %}">
            <td style="font-size: 15px">{{ website.type|default_if_none:"-----" }}</td>
            <td style="font-size: 15px">{{ website.common_name|default_if_none:"-----" }}</td>
            <td style="font-size: 15px">{{ website.server|default_if_none:"-----" }}</td>
        </tr>
        {% endfor %}
        {% for vm in vms %}
        <tr data-href = "{% url 'vm_details' vm.id %}">
            <td>{{ vm.vm_type|default_if_none:"-----" }}</td>
            <td>{{ vm.hostname|default_if_none:"-----" }}</td>
            <td>{{ vm.hostname|default_if_none:"-----" }}</td>
        </tr>
        {% endfor %}

    </table>
</div>

<div id="Paris" class="tabcontent" style="border: none">
  <h3>Empty</h3>
</div>

<div id="Tokyo" class="tabcontent" style="border: none">
  <h3>Empty</h3>
</div>

<div class="clearfix"></div>
<br>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");

        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            });
        });
    });
</script>



<script>
    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");

        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            });
        });
    });
</script>
<script>
function openCity(evt, cityName) {

  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
<script>
    const filterType = () => {
     const columns = [
        { name: 'Type', index: 0, isFilter: true }

      ]
      const filterColumns = columns.filter(c => c.isFilter).map(c => c.index)
      const trs = document.querySelectorAll(`#myTable tr:not(.header)`)
      const filter = document.querySelector('#myInput1').value
      const regex = new RegExp(escape(filter), 'i')
      const isFoundInTds = td => regex.test(td.innerHTML)
      const isFound = childrenArr => childrenArr.some(isFoundInTds)
      const setTrStyleDisplay = ({ style, children }) => {
        style.display = isFound([
          ...filterColumns.map(c => children[c]) // <-- filter Columns
        ]) ? '' : 'none'
      }

      trs.forEach(setTrStyleDisplay)
    }

    const filterCommonName = () => {
     const columns = [
        { name: 'Type', index: 0, isFilter: false },
        { name: 'Common Name', index: 1, isFilter: true }

      ]
      const filterColumns = columns.filter(c => c.isFilter).map(c => c.index)
      const trs = document.querySelectorAll(`#myTable tr:not(.header)`)
      const filter = document.querySelector('#myInput2').value
      const regex = new RegExp(escape(filter), 'i')
      const isFoundInTds = td => regex.test(td.innerHTML)
      const isFound = childrenArr => childrenArr.some(isFoundInTds)
      const setTrStyleDisplay = ({ style, children }) => {
        style.display = isFound([
          ...filterColumns.map(c => children[c]) // <-- filter Columns
        ]) ? '' : 'none'
      }

      trs.forEach(setTrStyleDisplay)
    }
    const filterServer = () => {
     const columns = [
        { name: 'Type', index: 0, isFilter: false },
        { name: 'Common Name', index: 1, isFilter: false },
        { name: 'Server', index: 2, isFilter: true }

      ]
      const filterColumns = columns.filter(c => c.isFilter).map(c => c.index)
      const trs = document.querySelectorAll(`#myTable tr:not(.header)`)
      const filter = document.querySelector('#myInput3').value
      const regex = new RegExp(escape(filter), 'i')
      const isFoundInTds = td => regex.test(td.innerHTML)
      const isFound = childrenArr => childrenArr.some(isFoundInTds)
      const setTrStyleDisplay = ({ style, children }) => {
        style.display = isFound([
          ...filterColumns.map(c => children[c]) // <-- filter Columns
        ]) ? '' : 'none'
      }

      trs.forEach(setTrStyleDisplay)
    }
</script>
<script>
  var x = document.getElementById("myTable").rows.length;
  document.getElementById("demo").innerHTML = "In total " + x + " items.";
</script>



</body>

</html>