<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Analytics</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'table_style.css' %}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="{% static '/websites/style.css' %}">
    <link rel="stylesheet" href="/websites/device.css"/>
    <link rel="stylesheet" href="{% static '/statements_css/statement_top_menu.css' %}">
    <script>
         function animate(k){
            k.style.MozTransform = "rotateY(360deg)";
         }
         window.addEventListener("load",function(){
            //alert(document.documentElement.clientHeight);
         });
      </script>
</head>

<body>
<section id="main" class="main">
    <header>
        <figure onClick="animate(this)">
            <div id="logo">
                <table>
                    <tr>
                        <td>
                            <h1>Google Analytics</h1>
                            <p style="font-size: 14px">
                                The table contains: {{ table_item_count }} records.<br>
                                {{ current_datetime_now_tostring }}
                            </p>
                        </td>
                        <td>

                        </td>
                    </tr>
                </table>


            </div>
        </figure>

        <nav>
            <ul>
                <li style="color:black; background-color: #377904">
                    <a href="{% url 'home' %}" style="color:white"><i class="fa fa-fw fa-home"></i>Home</a>
                </li>
                <li style="color:black; background-color: #377904">
                    <a href="{% url 'websites_full_table' %}" style="color:white;  ">FULL TABLE:</a>
                </li>

                <div class="clear"></div>
            </ul>
            <ul>
                <li>Empty</li>
                <li>Empty</li>

                <div class="clear"></div>
            </ul>
        </nav>
        <div class="clear"></div>
    </header>
</section>
<br>

<table class="table" id="myTable">
    <tr class="header" style="position:sticky; z-index:1; top:0; background-color: #377904; color: white">
        <!-- COMMON NAME column ---------------------------------------------------------------------------------------->
        <th scope="col" style="font-size: 18px">Common Name <br>
            <label for="myInput1" style="font-size: 12px">
                Type Common name:
            </label>
            <br>
            <!-- Filter for Common Name -->
            <input
                    style="font-size: 15px; width: 60%"
                    type="text"
                    id="myInput1"
                    onkeyup="filterCommonName()"

                    title="Type in a name">
            <!-- Filter for Common Name column end-->
        </th>
        <!-- SERVER column------------------------------------------------------------------------------------------------>
        <th scope="col" style="font-size: 18px">Server<br>
            <label for="myInput2" style="font-size: 12px">
                Type Server name:
            </label>
            <!-- Filter for Server column -->
            <input
                    style="font-size: 15px; width: 60%"
                    type="text"
                    id="myInput2"
                    onkeyup="filterServer()"
                    title="Type in a name">
            <!-- Filter for Server column end-->
        </th>

        <!-- GA4 Required? column------------------------------------------------------------------------------------------------>
        <th scope="col" style="font-size: 18px; vertical-align: middle; text-align: center">GA4 Required?</th>

        <!-- GA4 Active? column------------------------------------------------------------------------------------------------>
        <th scope="col" style="font-size: 18px; vertical-align: middle; text-align: center">GA4 Active?</th>

        <!-- Application column------------------------------------------------------------------------------------------------>
        <th scope="col" style="font-size: 18px">Application<br>
            <label for="myInput3" style="font-size: 12px">
                Search for Application:
            </label>
            <br>
            <!-- Filter for Application column -->
            <input
                    style="font-size: 15px; width: 100%"
                    type="text"
                    id="myInput3"
                    onkeyup="filterApplication()"
                    title="Type in a name">
            <!-- Filter for Server column end-->
        </th>

        <!-- GA4 Notes column------------------------------------------------------------------------------------------------>
        <th scope="col" style="font-size: 18px">GA4 Notes</th>

    </tr>

    {% for website in websites %}
    <tbody>
    <tr data-href = "{% url 'website_details' website.id %}" style="font-size: 15px; vertical-align: middle; padding-top:20px">
        <th style="vertical-align: middle">{{ website.common_name }}</th>

        <th style="vertical-align: middle">{{ website.server }}</th>

        {% if website.ga4_required_light == "Yes" %}
        <td style="vertical-align: middle; text-align: center;">&#9989;</td>

        {% elif website.ga4_required_light == "No" %}
        <td style="vertical-align: middle; text-align: center;">&#10060;</td>
        {% elif website.ga4_required_light == "N/A" %}
        <td style="vertical-align: middle; text-align: center;">N/A</td>
        {% else %}
        <td style="text-align: left; vertical-align: middle; text-align: center;">&quest;</td>
        {% endif %}

        {% if website.ga4_y_n_light == "Yes" %}
        <td style="vertical-align: middle; text-align: center;">&#9989;</td>
        {% elif website.ga4_y_n_light == "No" %}
        <td style="vertical-align: middle; text-align: center;">&#10060;</td>
        {% else %}
        <td style="text-align: left; vertical-align: middle; text-align: center;">&quest;</td>
        {% endif %}

        <th style="vertical-align: middle">{{ website.application }}</th>
        <td style="vertical-align: middle">{{ website.ga4_notes }}</td>



    </tr>
    </tbody>
    {% endfor %}
</table>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");

        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            });
        });
    });
</script>
<script>
    const filterCommonName = () => {
     const columns = [
        { name: 'Common name', index: 0, isFilter: true }
      ]
      const filterColumns = columns.filter(c => c.isFilter).map(c => c.index)
      const trs = document.querySelectorAll(`#myTable tr:not(.header)`)
      const filter = document.querySelector('#myInput1').value
      const regex = new RegExp(escape(filter), 'i')
      const isFoundInTds = td => regex.test(td.innerHTML)
      const isFound = childrenArr => childrenArr.some(isFoundInTds)
      const setTrStyleDisplay = ({ style, children }) => {
        style.display = isFound([
          ...filterColumns.map(c => children[c]) // <-- filter Columns
        ]) ? '' : 'none'
      }

      trs.forEach(setTrStyleDisplay)
    }

    const filterServer = () => {
     const columns = [
        { name: 'Common name', index: 0, isFilter: false },
        { name: 'Server', index: 1, isFilter: true }
      ]
      const filterColumns = columns.filter(c => c.isFilter).map(c => c.index)
      const trs = document.querySelectorAll(`#myTable tr:not(.header)`)
      const filter = document.querySelector('#myInput2').value
      const regex = new RegExp(escape(filter), 'i')
      const isFoundInTds = td => regex.test(td.innerHTML)
      const isFound = childrenArr => childrenArr.some(isFoundInTds)
      const setTrStyleDisplay = ({ style, children }) => {
        style.display = isFound([
          ...filterColumns.map(c => children[c]) // <-- filter Columns
        ]) ? '' : 'none'
      }

      trs.forEach(setTrStyleDisplay)
    }

    const filterApplication = () => {
     const columns = [
     { name: 'Common name', index: 0, isFilter: false},
     { name: 'Server', index: 1, isFilter: false},
     { name: 'GA4 Required', index: 2, isFilter: false},
     { name: 'GA4 Active?', index: 3, isFilter: false},
     { name: 'Application', index: 4, isFilter: true }

      ]
      const filterColumns = columns.filter(c => c.isFilter).map(c => c.index)
      const trs = document.querySelectorAll(`#myTable tr:not(.header)`)
      const filter = document.querySelector('#myInput3').value
      const regex = new RegExp(escape(filter), 'i')
      const isFoundInTds = td => regex.test(td.innerHTML)
      const isFound = childrenArr => childrenArr.some(isFoundInTds)
      const setTrStyleDisplay = ({ style, children }) => {
        style.display = isFound([
          ...filterColumns.map(c => children[c]) // <-- filter Columns
        ]) ? '' : 'none'
      }

      trs.forEach(setTrStyleDisplay)
    }


</script>



</body>

</html>