<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Websites Process 2</title>
</head>
<body>

</body>
<div class="styled_body">

    <p>
        <strong>STEP 1:</strong> <br>
        <input type="checkbox"> Navigate to LDDT Tracker websites section<br>
    </p>
    <br>

    <p>
        <strong>STEP 2:</strong> <br>
        <input type="checkbox"> Find the required service in the table<br>
    </p>
    <br>

    <p>
        <strong>STEP 3: </strong>
        Open Cert-Manager and find for the service, then: <br>
        <input type="checkbox"> Renew the certificate for the service <br>
        <input type="checkbox"> Wait for receiving the email with all the certificates<br>
    </p>
    <br>

    <p>
        <strong>STEP 4:</strong>
        Download the two certificates from the email
    </p>
    <a href="/static/img/tutorials/tut_2.jpg" target=”_blank”>
        <img src="/static/img/tutorials/tut_2.jpg"  style="width: 800px; display: block; margin-left: auto; margin-right: auto; border: 1px solid black">
    </a>
    <br>

    <p>
        <strong>STEP 5:</strong><br>
        Change the extension of the downloaded file (.pem) to (.cer)
    </p>
    <br>

    <p>
        <strong>STEP 6:</strong>
    </p>
    <div class="comment">
        <p>
            <i class="material-icons">report</i>  All certificates are placed on the libreq server. A separate permission is needed to ssh for it
        </p>
    </div>
    <p>
        Move both certificates to AH machine (which has access to libreq server): <br>
        <input type="checkbox"> ssh from your local laptop to the AH machine: (example) <mark class="black"> ssh user_name@232.323.323.12 </mark> <br>
        <input type="checkbox"> Now, copy both the certificates from your local laptop to the AH machine.
        To keep things easy, just upload both certificates to the Downloads folder on your AH machine by:<br>
        <mark class="black">scp *.cer user_name@232.323.323.12:/home/user_name/Downloads</mark> <br>
        <br>
        So now, both .cer files are on AH machine in Downloads folder.
    </p>







</div>
</html>